// Site variables
$font-family: 'Geomanist', Arial, Helvetica, sans-serif;

$didact: 'Didact Gothic', Arial, Helvetica, sans-serif;

$roboto: 'Roboto', Arial, Helvetica, sans-serif;

$roboto-condensed: 'Roboto Condensed', Arial, Helvetica, sans-serif;

$green-letters: #9CB939;

$grey-letters: #E5E5E5;

$grey-borders: #E5E5E5;

$grey-shadow: #979797;

$alpha-shadow: rgba(0,0,0,.5);

$dark-letter-color: #444444;

$instructions-grey: #4A4A4A;

$text-shadow: #000000;

$hero-text-shadow: #9B9B9B;

$footer-background: #313131;
