<div class="{{styles.about}}">
  <div class="{{styles.left}}">

    <article class="{{styles.statement}}">
      <header>
        what we do
      </header>
      <p>
        Our goal is to help commercial companies find efficient energy solutions by introducing alternative technologies designed to improve bottom lines and have a positive impact on the environment.
    </article>

    <article class="{{styles.statement}}">
      <header>
        why we do it
      </header>
      <p>
        The environmental impact of businesses is estimated to top nearly 5 trillion dollars each year. This massive number includes costs related to air pollution, water and land usage, and greenhouse gas emissions. We believe there is a better way to do business. At Zoluu, our goal is to help your business be more efficient without wasting internal resources on technologies that are not the best fit for your company. We offer turn-key environmental solutions so you can focus on what you do best - growing your business and your brand.
      </p>
    </article>

    <article class="{{styles.statement}}">
      <header>
        contact us
      </header>
      <div class="{{styles.cta-audit}}">
        <a href="/energy_audit.html">
          <input type="button" name="" value="REQUEST YOUR ENERGY AUDIT">
        </a>
      </div>
    </article>

  </div>
  <div class="{{styles.right}}">

    <article class="{{styles.statement}}">
      <header>
        trusted by
      </header>
      <div class="{{styles.logos-container}}">
        <img src="../../../../css/img/logos_1.png" alt="logos">
      </div>
    </article>

  </div>
</div>
