<footer class="{{styles.footer}}">
  <div class="{{styles.top}}">
    <div class="{{styles.social}}">
      <a href="#"><img src="../../../css/img/Facebook.png" alt="" /></a>
      <a href="#"><img src="../../../css/img/Instagram.png" alt="" /></a>
      <a href="#"><img src="../../../css/img/Twitter.png" alt="" /></a>
    </div>
  </div>
  <hr>
  <div class="{{styles.bottom}}">
    <ul class="{{styles.nav-links}}">
      <a href="/about.html"><li>About</li></a>
      <a href="#"><li>Services</li></a>
      <a href="#"><li>Contact us</li></a>
    </ul>
  </div>
  <div class="{{styles.copyright}}">
    <p>
      Copyright © 2016 Zoluu Inc. All rights reserved.
    </p>
  </div>
</footer>
