<div class="top">
  <div class="social">
    <a href="#"><img src="../../../css/img/Facebook.png" alt="" /></a>
    <a href="#"><img src="../../../css/img/Instagram.png" alt="" /></a>
    <a href="#"><img src="../../../css/img/Twitter.png" alt="" /></a>
  </div>
</div>
<hr>
<div class="bottom">
  <ul class="nav-links footer">
    <a href="/about.html"><li>About</li></a>
    <a href="#"><li>Services</li></a>
    <a href="#"><li class="flex-size-2">Contact us</li></a>
  </ul>
</div>
<div class="copyright">
  <p>
    Copyright © 2016 Zoluu Inc. All rights reserved.
  </p>
</div>
