<div class="{{styles.energy-audit}}">
  <div class="{{styles.form-container}}">
    <div class="{{styles.form-header}}">
      <h1>energy audit request form</h1>
      <p class="{{styles.instructions}}">
        Thank you for your interest in our Energy Audit. Please fill the below form. <br>
        We will get back to you shortly with a proposed date.
      </p>
    </div>
    <div class="{{styles.form-body}}">
      <!-- Note :
         - You can modify the font style and form style to suit your website.
         - Code lines with comments “Do not remove this code”  are required for the form to work properly, make sure that you do not remove these lines of code.
         - The Mandatory check script can modified as to suit your business needs.
         - It is important that you test the modified form before going live.-->
      <div id='crmWebToEntityForm' style='width:600px;margin:auto;'>
         <META HTTP-EQUIV ='content-type' CONTENT='text/html;charset=UTF-8'>
           <form action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads1862269000000233001 method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatory()' accept-charset='UTF-8'>
            <!-- Do not remove this code. -->
            <input type='text' style='display:none;' name='xnQsjsdp' value='57afe6bf298e0cc430541bdf782fbfc605e2cd7167e1ff15ae5a8da8a1400170'/>
            <input type='hidden' name='zc_gad' id='zc_gad' value=''/>
            <input type='text' style='display:none;' name='xmIwtLD' value='5e41cf633f19224ef98e0aac06824c7bcef6c676db662b68a8a51cb60ddcd97b'/>
            <input type='text' style='display:none;'  name='actionType' value='TGVhZHM='/>

            <input type='text' style='display:none;' name='returnURL' value='http&#x3a;&#x2f;&#x2f;www.zoluusa.com' />
            <!-- Do not remove this code. -->
            <style>
              tr , td {
                padding:6px;
                border-spacing:0px;
                border-width:0px;
              }
            </style>
          <table style='width:600px;background-color:white;color:black'>

            <tr><td  style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:30%;'>Company<span style='color:red;'>*</span></td><td style='width:70%;' ><input type='text' style='width:70%;float:right;'  maxlength='100' name='Company' /></td></tr>

            <tr><td  style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:30%;'>First Name</td><td style='width:70%;' ><input type='text' style='width:70%;float:right;'  maxlength='40' name='First Name' /></td></tr>

            <tr><td  style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:30%;'>Last Name<span style='color:red;'>*</span></td><td style='width:70%;' ><input type='text' style='width:70%;float:right;'  maxlength='80' name='Last Name' /></td></tr>

            <tr><td  style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:30%;'>Email</td><td style='width:70%;' ><input type='text' style='width:70%;float:right;'  maxlength='100' name='Email' /></td></tr>

            <tr>
              <td colspan='2' style='text-align:center; padding-top:15px;'>
                <input style='font-size:12px;color:#131307' type='submit' value='Submit' />
                <input type='reset' style='font-size:12px;color:#131307' value='Reset' />
              </td>
            </tr>
          </table>
          <script>
            var mndFileds=new Array('Company','Last Name');
            var fldLangVal=new Array('Company','Last Name');
            var name='';
            var email='';

            function checkMandatory() {
              for(i=0;i<mndFileds.length;i++) {
                var fieldObj=document.forms['WebToLeads1862269000000233001'][mndFileds[i]];

                if(fieldObj) {
                  if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length==0) {
                    if(fieldObj.type =='file') {
                      alert('Please select a file to upload.');
                      fieldObj.focus();
                      return false;
                    }
                    alert(fldLangVal[i] +' cannot be empty.');

                    fieldObj.focus();

                    return false;
                  } else if(fieldObj.nodeName=='SELECT') {

                    if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {
                      alert(fldLangVal[i] +' cannot be none.');
                      fieldObj.focus();
                      return false;
                    }
                  } else if(fieldObj.type =='checkbox'){
                    if(fieldObj.checked == false){
                      alert('Please accept  '+fldLangVal[i]);
                      fieldObj.focus();
                      return false;
                    }
                  }
                  try {
                    if(fieldObj.name == 'Last Name') {
                      name = fieldObj.value;
                    }
                  } catch (e) {}
                }
              }
            }
          </script>
        </form>
      </div>
    </div>
  </div>
</div>
